<div class="container">
    <div [hidden]="!submitted">
        <h2>Thankyou for contacting us!</h2>
        <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9  pull-left">{{ model.username }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Email</div>
          <div class="col-xs-9 pull-left">{{ model.email }}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>

  <h1>Contact Form</h1>
  <form (ngSubmit)="onSubmit()" #restaurantForm="ngForm">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control" id="username"
       required
       [(ngModel)]="model.username" name="username" #name="ngModel">
       <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
          Name is required
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
         required
         [(ngModel)]="model.email" name="email" #name="ngModel">
         <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
            Email is required
          </div>
      </div>

    <button type="button" class="btn btn-default" (click)="newRestaurant()">Clear</button>
    <button type="submit" class="btn btn-success" [disabled]="!restaurantForm.form.valid">Submit</button>
  </form>
</div>
